/experiments/
/checkpoints/
/data/
/logs/
/mlruns/
/profiler/
/logs/
colbert/bin*
colbert/conda-meta*
colbert/include*
colbert/lib*
colbert/man/man1*
colbert/ssl*
colbert/share*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
# notebooks/

# mac
.DS_Store

# Other
.vscode
*.tsv
